$color-primary: #c6ffdd;
$color-primary-light: #a8c0ff;
$color-primary-dark: #3f2b96;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #3e5151;
$color-tertiary-dark: #decba4;

$color-grey-dark: #777;
$color-grey-white: rgb(218, 211, 211);
$color-black: #000;
$color-white: white;
$color-grey-light-1: #ebe6e6;
$color-grey-light-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 1.6rem;

$bRadius: 3px;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
