body {
  font-family: "lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 4rem;
  font-size: 2rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      //   line-height: 1.6rem;
      font-family: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      //   line-height: 1.7rem;
      font-family: 5rem;
    }
  }
  &--sub1 {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

  // this will make the background color to be until the end of the text only
  display: inline-block;
  // this will clip the background exatly where the text is. background is linear-gradient
  -webkit-background-clip: text;
  color: transparent;

  letter-spacing: 0.2rem;

  // this is for the hover
  transition: all 1s;

  &:hover {
    // implementation of skew, but i do not like the skew effect so only scale it
    // transform: skewY(2deg) skewX(15deg) scale(1.05);
    transform: scale3d(1.02, 1.02, 1.02);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
